<footer class="footer">
    <div class="row g-0 justify-content-between fs--1 mt-4 mb-3">
        <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">2023 - {{ "now" | date('Y' )}} &copy; Inventaire <span class="d-none d-sm-inline-block"> | </span><br class="d-sm-none" /> Réalisé par <a class="link" href="https://www.asv-packaging.org/" target="_blank">ASV Packaging</a></p>
        </div>
        <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">v2.0</p>
        </div>
    </div>
</footer>